{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Boostrap -->
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static',filename='music_colors.css') }}" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')  }}">
{% endblock head %}

{% block title %}Python Music Colors{% endblock %}

{% block content %}
<div class="container">
    <h1 align="center">Python Music Colors</h1>
    <hr/>

    <div id="guessing_panel" class="row">
        <!-- Left panel -->
        <div id="notes" class="col-xs-6 cold-md-6">
            {% for note,color,freq in colors %}
            <!-- All natural notes (4) -->
            <div class="col-md-3 col-xs-3">
                <div class="text-center"></div>
                <div class="notes text-center" id="btn-play" color='{{ color }}' freq='{{ freq }}' note='{{ note }}' style="background-color: {{ color }}"><h4>{{ note }}</h4></div>
            </div>
            {% endfor %} 
        </div>
        <!-- Right panel -->
        <div id="notes" class="col-xs-6 cold-md-6">
            <!-- this is where interactive panel goes
            <br/><br/><br/>
            <div class="col-xs-12 cold-md-12 text-center">
                <a class="btn btn-lg btn-primary" href="#">Play Random Note</a>
            </div>-->
            {{ panel_content | safe }}
        </div>
    </div>

    <hr/>
</div>
<div id="colorLayer"><p id="colorLayerText" class="text-center"></p></div>

{% endblock %}



{% block scripts %}
    <script src="{{ url_for('static',filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script type=text/javascript>
    function assert(condition,msg){
        if (!condition){
          alert(msg);
          throw Error("Assertion failed");
        }
    }
    </script>
    <script src="{{ url_for('static',filename='riffwave.js') }}"></script>
    <script src="{{ url_for('static',filename='notes.js') }}"></script>
{% endblock %}
